
h1,
h2,
h3,
h4,
h5,
h6,
footer,
span.special{
    font-family: "Dancing Script", cursive;
}
p{
    font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}
/* section{
    padding-block:50px;
} */
a.btn{
    text-decoration: none;
    font-size: 18px;
    color: #F1B601 ;
    border:2px solid #F1B601;
    border-radius: 50px;
    padding: 5px 24px;
    position: relative;
    transition: transform 1s ease, opacity 1s ease;
    overflow: hidden;
}
header a.btn{
    transform: scale(.6);
    opacity: 0;
}
#carouselExample .carousel-item.active a.btn{
     border:2px solid #F1B601;
    transform: scale(1);
    opacity: 1;
}
a.btn span.text{
    position: relative;
    z-index: 2;
}
a.btn:hover{
    color: #fff;
    border:2px solid #F1B601;
}
a.btn::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: #F1B601;
    transform: translateX(-100%);
    transition-duration: 1s;
    border-radius: 50px;
}
 a.btn:hover::after{
    transform: translateX(0%);
}
.title{
    text-align: center;
    color: #fff;
}
.title h6{
    color: #F1B601;
}
.lines{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lines::before{
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background-color: #fff;
    align-self: center;
}
.lines::after{
    content: "";
    display: block;
    width: 10%;
    height: 2px;
    background-color: #fff;
    align-self: center;
}
