@keyframes animate-1{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes animate-2 {
    from{
        transform: translateY(20%);
    }
    to{
        transform: translateY(25%);
    }
}
@keyframes animate-3 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes animate-4 {
    0% {
        transform: translate(0, 150px);
        opacity: 0;
    }

    10% {
        transform: translate(0, 150px);
        opacity: 1;
    }

    35% {
        transform: translate(0, 120px);
        opacity: 1;
    }

    65% {
        transform: translate(0, 150px);
        opacity: 1;
    }

    85% {
        transform: translate(100vw, 150px);
        opacity: 1;
    }

    86% {
        opacity: 0;
    }

    100% {
        transform: translate(0, 150px);
        opacity: 0;
    }
}
